/* GENERAL____________________________________________________________________________________________________________ */
body {
    overflow-x: hidden;
    background: blue;
    /* background: rgb(191, 51, 255);
     background: linear-gradient(166deg, rgba(191, 51, 255, 1) 0%, rgba(16, 46, 82, 1) 41%, rgba(0, 0, 0, 1) 66%); */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Raleway", sans-serif;
}

body,
html {
    margin: 0px;
    color: white;
    height: 100%;
    line-height: 1.8;
}

.content {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.title {
    text-align: left;
    font: italic bold 45px;
}

.content {
    /* margin: 7%; */
    padding-right: 10%;
    padding-left: 10%;
    flex-direction: column;
}

/* hide scrollbar(but allow scrolling) in Google Chrome */
::-webkit-scrollbar {
    display: none;
}

/* HEADER____________________________________________________________________________________________________________*/
header {
    border-bottom: 2.5px rgba(255, 255, 255, 0.25) solid;
}

.headercontainer {
    /* Implement static navbar that wouldn't fuckup */
    /* position: fixed; */
    padding-left: 0%;
    padding-right: 0%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.navButton {
    padding-left: 20px;
    order: 0;
    position: relative;
    /* margin-top: 30px; */
    font-size: 35px;
    cursor: pointer;
    color: white;
    padding-bottom: 0px;
    transition: all 500ms ease;
}

.logo {
    /* padding-right: 20px; */
    padding-right: 20px;
    order: 1;
}

#myLogo {
    width: 75px;
    height: 75px;
}

.headerplaceholder {
    order: 2;
}

/* MENU OVERLAY____________________________________________________________________________________________________________*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.navButton:hover,
.overlay a:hover,
.overlay a:focus {
    color: #818181;
}

.overlay .closebtn {
    position: absolute;
    background-color: transparent;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}