/* GENERAL____________________________________________________________________________________________________________ */
html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: blue;
    /* background: rgb(191, 51, 255);
     background: linear-gradient(166deg, rgba(191, 51, 255, 1) 0%, rgba(16, 46, 82, 1) 41%, rgba(0, 0, 0, 1) 66%); */
}

iframe {
    z-index: -9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* canvas as bg, comment to enable OrbitControls for interactive visuals*/
/* canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
} */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Josefin Sans', sans-serif;
}

body,
html {
    margin: 0px;
    color: white;
    height: 100%;
    line-height: 1.8;
}

.content {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

#title {
    background: rgba(0, 0, 0, 0.5);
    font-size: 128px;
    color: rgba(255, 255, 255, 0.5);
    /* padding: 50px 10px; */
    margin-bottom: 0%;
    margin-left: 10vw;
    margin-right: 10vw;

    padding-left: 7.5vw;
    padding-right: 7.5vw;

    /* padding-top: 10%; */
    /* text-align: center; */
    font-weight: bold;
    font-style: italic;
    transition: 2s;
}

.content {
    background: rgba(255, 255, 255, 0.5);
    margin-top: 0%;
    margin-left: 10vw;
    margin-right: 10vw;

    padding-left: 7.5vw;
    padding-right: 7.5vw;
    padding-top: 5vw;

    flex-direction: column;

    transition: 2s;

    /* background-color: #818181; */
}

::-webkit-scrollbar {
    display: none;
    /* hide scrollbar(but allow scrolling) in Google Chrome */
}

#element {
    scrollbar-width: none;
}

@keyframes glowing {
    0% {
        color: rgba(255, 255, 255, 0.5)
    }

    40% {
        color: rgba(255, 255, 255, 1);
    }

    60% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        color: rgba(255, 255, 255, 0.5);
    }
}

/* HEADER____________________________________________________________________________________________________________*/
header {
    border-bottom: 2.5px rgba(255, 255, 255, 0.25) solid;
    padding-top: 5px;
}

.headercontainer {
    /* Implement static navbar that wouldn't fuckup */
    /* position: fixed; */
    padding-left: 0%;
    padding-right: 0%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.navButton {
    padding-left: 25px;
    /* padding-right: 10vw; */
    order: 0;
    /* position: relative; */
    /* margin-top: 30px; */
    font-size: 43px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 0px;
    transition: all 500ms ease;
}


.navButton:hover {
    color: rgba(255, 255, 255, 1);
    animation: glowing 2500ms infinite;
}

.logo {
    /* padding-right: 20px; */
    padding-right: 20px;
    order: 1;
    /* font-color: white; */
}

.headerplaceholder {
    order: 2;
}

/* MENU OVERLAY____________________________________________________________________________________________________________*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.75);
    overflow-x: hidden;
    transition: 0.75s;
}

.overlay-content {
    font-weight: bold;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;

}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #818181;
}

.overlay .closebtn {
    position: absolute;
    background-color: transparent;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}